.site-header-404 {
	position: relative;
	height: 260px;
	@include desktop {
		height: 100vh;
	}
}

.header-404 {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: $white;
	font-family: 'Poppins';
	font-weight: bold;
	font-size: 2.85rem;
	text-transform: uppercase;
	@include desktop {
		font-size: $h1-fsize-desktop;
    	text-transform: capitalize;
	}
}

.text-404 {
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center;
	color: $white;
	font-family: 'Poppins';
	font-weight: lighter;
	font-size: 1rem;
	text-transform: uppercase;
	@include desktop {
    bottom: 32%;
		font-size: 2.2rem;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
	}
}

// navigation

.main-404-navigation {
	clear: both;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: 92px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(36, 36, 36, 0.84) 50%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	z-index: 999;
	@include responsive-nav {
		height: 240px;
        padding: 0 50px;
        position: relative;
	}
	@include desktop-nav {
		height: 240px;
        padding: 0 80px;
        position: relative;
	}
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}
		}
		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

	}
	a {
		display: block;
		text-decoration: none;
	}

	.menu-menu-1-container {
		display: none;
		position: fixed;
		bottom: 0;
		top: 60px;
		width: 100%;
		height: 100vh;
		opacity: 1;
		z-index: 100;
		@include desktop {
			display: initial !important;
			position: relative;
			top: unset;
			bottom: unset;
			right: 50px;
			height: auto;
			width: auto;
		}
		.menu { // ul
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			line-height: 4;
			background: linear-gradient(180deg,transparent 0,#ffffff 5%,#ffffff);
			
			@include responsive-menu-items {
				background: linear-gradient(180deg,transparent 0,#ffffff 5%,#ffffff);
			}
			@include desktop {
				background: transparent;
				flex-direction: row;
			}
			@include desktop-nav {
				background: transparent;
			}

			.menu-item { // li
				@include responsive-nav {
					margin: 0 8px;
				}
				@include desktop-nav {
					margin: 0 15px;
					height: 60px;
					&:hover {
						border-bottom: 2px solid $white;
					}
				}
				.sub-menu {
					@include responsive-nav {
						display: initial;
					}
					@include desktop-nav {
						display: initial;
					}
				}
				a {
					font-family: 'Poppins';
					font-size: $h3-fsize-mobile + 0.35rem;
					color: $purple;
					&:visited {
						color: $purple;
					}
					@include responsive-menu-items {
						color: $purple;
						&:visited {
							color: $purple !important;
						}
					}
					@include responsive-nav {
						font-size: $h3-fsize-mobile + 0.17rem;
						font-weight: lighter;
						color: $white;
						&:visited {
							color: $white;
						}
						&:hover {
							font-weight: 500;
						}
					}
					@include desktop-nav {
						font-size: $h3-fsize-mobile + 0.35rem;
						font-weight: lighter;
						color: $white;
						&:visited {
							color: $white;
						}
						&:hover {
							font-weight: 500;
						}
					}
				}
			}
		}
	}
}