.content-area-front {
  .site-main {
    .entry-content {
      margin-top: 0;
      .block1 {
        background-color: $purple;
        .has-large-font-size {
          font-size: $h2-fsize-mobile;
          font-family: $h-ffamily;
          font-weight: 500;
        }
        .img {
        }
        p {
          color: white;
          font-size: $body-fsize-mobile;
          font-family: $body-ffamily;
        }
      }
      .block2 {
        background-color: $sky-blue;
        .has-large-font-size {
          font-size: $h2-fsize-mobile;
          font-family: $h-ffamily;
          font-weight: 500;
        }
        .img {
        }
        p {
          color: white;
          font-size: $body-fsize-mobile;
          font-family: $body-ffamily;
        }
      }
      .block3 {
        background: linear-gradient(to bottom, $light-orange 50%, #ffff 50%);
        display: flex;
        flex-direction: column;
        .has-large-font-size {
          font-size: $h2-fsize-mobile;
          font-family: $h-ffamily;
          font-weight: 500;
        }
        .img {
        }
        p {
          color: black;
          font-size: $body-fsize-mobile;
          font-family: $body-ffamily;
          padding: 20px 70px;
          padding-bottom: 0;
        }
      }
      .our-team {
        font-size: $h2-fsize-mobile;
        background-color: $light-orange;
        text-align: center;
        margin: 0;
        height: 105px;
        padding-top: 20px;
      }
      p {
        margin: 0;
      }
    }
    .title-front {
      text-align: center;
      font-size: $h2-fsize-mobile;
      font-family: $h-ffamily;
      font-weight: 500;
    }
    .description-front {
      text-align: center;
    }

    .main-carousel {
      height: 230px;
      align-content: center;
      padding-bottom: 25px;
      padding-top: 25px;
      margin-top: 40px;
      background: linear-gradient(
        to right,
        rgba(232, 133, 53, 1) 0%,
        rgba(30, 166, 203, 1) 51%,
        rgba(103, 29, 67, 1) 94%,
        rgba(103, 29, 67, 1) 100%
      );

      .carousel-cell {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-right: 10px;
        justify-content: center;
        text-align: center;
        img {
          height: auto;
          max-width: 30%;
          border-radius: 86px;
        }
        p {
          color: white;
        }
      }
      .flickity-page-dots {
        position: unset;
      }
    }
  }
}
