.text-header-blog {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: $white;
	font-family: 'Poppins';
	font-weight: lighter;
  font-size: 2.85rem;
  text-transform: uppercase;
	@include desktop {
		font-size: $h1-fsize-desktop;
    font-weight: lighter;
    text-transform: capitalize;
	}
}

.card-desktop {
  padding: 35px 0;
  @include desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.class-content {
  padding: 5px 20px;
}

.resources-card {
  color: $purple;
  border-radius: 20px;
  width: 342px;
  height: 416px;
  margin: 0 auto;
  border: 1px solid #cbcbcb;
  @include desktop {
    width: 674px;
    height: 657px;
    &:hover {
      background-color: #a3a3a3;
      filter: opacity(0.2);
    }
  }
  img {
    width: 100%;
  }
}

.blog-title {
  font-family: 'Poppins';
  font-weight: initial;
  font-size: 1.71rem;
  max-width: 530px;
  margin: 0;
  @include desktop {
    max-width: 100%;
    font-size: 2.14rem;
  }
  a {
    color: $black;
    text-decoration: none;
    &:visited {
      text-decoration: none;
      color: $black;
    }
  }
}

.card-info {
  @include desktop {
    display: flex;
    align-items: center;
  }
}

.blog-meta {
  font-family: 'Poppins';
  font-weight: lighter;
  font-size: 1.14rem;
  padding: 5px 0;
  @include desktop {
    font-size: 1.42rem;
  }
}

.comment-card {
  color: #383838;
  .comment-number {
    font-family: 'Poppins';
    font-weight: lighter;
    padding: 0 10px;
  }
}

.posted-on {
  text-transform: uppercase;
}

.posted-by {
  padding: 0 15px;
  @include desktop {
    padding: 0 40px;
  }
}

.read-more {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 0.92rem;
  padding-top: 10px;
  @include desktop {
    font-size: 2.14rem;
    text-align: right;
  }
  a {
    color: $sky-blue;
    text-decoration: none;
  }
  .arrow {
    font-size: 1.28rem;
    padding: 0 10px;
    font-weight: normal;
  }
}
