.events-content-area {
    padding: 0 20px;
    h1 {
        font-family: $body-ffamily;
        font-size: 1.78rem;
        color: $black;
        margin: 20px auto;
        text-align: center;
    }

    .event {
        display: none;
        border: 1px solid $black;
        border-radius: 5%;
        padding: 20px 30px;
        margin-bottom: 30px;
        flex-direction: column;
        align-items: flex-start;

        .event-date {
            font-size: 2.14rem;
            font-family: $h-ffamily;
            font-weight: bold;
            color: #39364F;
            margin: 0;
        }
        h2 {
            margin: 0;
        }
        p {
            color: #707070;
            font-family: $body-ffamily;
            font-size: 1.14rem;
            margin: 10px 0;
            line-height: 1.4rem;
        }
        .event-time {
            margin-bottom: 0;
        }
        .event-location {
            margin-top: 0;
        }
        .event-type {
            margin-top: 10px;
            font-size: 1.42rem;
        }
        .event-title {
            margin-top: 0;
            font-size: 1.42rem;
            line-height: 1.4rem;
            
        }
        .event-description p {
            margin-top: 10px;
            line-height: 1.2rem;
            margin-bottom: 30px;
        }
        .event-rsvp {
            font-size: 1.42rem;
            font-family: $h-ffamily;
            border-radius: 20px;
            background-color:$orange;
            padding: 10px 60px;
            color: $white;
            text-decoration: none;
            text-align: center;
            width: 200px;
            margin: 0 auto;
        }
    }
    // .event:hover {
    //     background-color: #A3A3A3;
    //     opacity: 20%;
        
    // }
   
    .meet-ups {
        font-family: $h-ffamily;
        color: $black;
        margin-bottom: 0;
    }
    .link-find-us {
        color: #2598BE;
        text-decoration: none;
        font-weight: 600;
        font-family: $h-ffamily;
    }
    .fa-arrow-right {
        padding-left: 20px;
    }

    .past-event {
        display: none;
        position: relative;
        margin: 40px auto;
       

        // background-color: linear-gradient(to bottom, rgba(232,133,53,1) ,rgba(103,29,67,1), rgba(30,166,203,1) 50%);
    
       
        .event-image {
            border-radius: 5%;
            width: 342px;
            height: 342px;
            object-fit: cover;
        }
        .event-title {
            font-family: $h-ffamily;
            font-size: 30px;
            color: $white;
            position: absolute;
            bottom: 20px;
            left: 10px;
            z-index: 1;
        }
        .event-description {
           display: none;
        } 
    }
    .past-event::after {
        border-radius: 5%;
        display: block;
        position: relative;
        background: linear-gradient(to bottom, rgba(232,133,53,1) ,rgba(103,29,67,1), rgba(30,166,203,1) 100%);
        margin-top: -349px;
        height: 342px;
        width: 100%;
        content: '';
        opacity: 0.5;
       
    }
    // .past-event:hover {
    //     background-color: gradient(#E38639, #62284E, #2598BE);
    //     display: block;
            
    // }

    #loadMore, #loadMore1, #loadMore2 {
        width: 180px;
        color: #707070;
        font-family: $h-ffamily;
        font-size: 1.42rem;
        font-weight: bold;
        display: block;
        text-align: center;
        margin: 20px auto;
        margin-bottom: 50px;
        padding: 15px;
        border: 1px solid #cbcbcb;
        background-color: transparent;
        text-decoration: none;
        text-transform: uppercase;
        @include desktop {
          display: none;
        }
    }
    #loadMore:hover, #loadMore1:hover, #loadMore2:hover {
        border-color: $sky-blue;
    }
   
}