.about-content {
    // text-align: center;
    // padding: 5px 50px; 
    font-size: $body-fsize-mobile;  
    font-family: $body-ffamily; 
    h2 {
        font-size: $h2-fsize-mobile;
        font-family: $h-ffamily;
        font-weight: 500;
        text-align: center;
        color: $black;
    }
    h3 {
        font-size: 20px;
        font-family: $h-ffamily;
        font-weight: 400;
        color: $black;
    }
    div:nth-child(8) {
       height: 345px;
       
    }
}

.cfs-description {
    font-size: $h3-fsize-mobile;
    text-align: center;
    font-family: $h-ffamily;
    color: $black;
}
.cfs-member {

    display: none;
    // display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 50px;
    height: 258px;
    justify-content: center;
    .cfs-photo {
        width: 146px;
        object-fit: cover;
        border-radius: 0%;
    }
    .cfs-info {
        width: 156px;
        background-color: $sky-blue;
        text-align: left;
        padding: 10px 35px 10px 15px;
        .cfs-name {
            margin: 0;
            font-weight: bold;
            font-size: $h3-fsize-mobile;
        }
        .cfs-role {
            margin-top: 10px;
            margin-bottom: 0;
        }
        .cfs-quote {
            font-size: $h3-fsize-mobile;
            font-weight: 300;
            line-height: 1.2rem;
        }
         
    }
}


#loadMore {
    width: 180px;
    color: #707070;
    font-family: $h-ffamily;
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 20px auto;
    margin-bottom: 50px;
    padding: 15px;
    border: 1px solid #CBCBCB;
    background-color:transparent;
    text-decoration: none;
    text-transform: uppercase;
}
#loadMore:hover {
    border-color: $sky-blue
}

.history-block {
    padding: 10px 40px 0 40px;
    background-color: lighten( $orange, 40%);
    height: 338px;
    h3 {
        color: $orange;
        text-align: left;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .history-content {
        display: flex;
        flex-direction: row;
        p {
            padding-left: 20px;
            font-weight: 300;
            text-align: left;
            flex-basis: 50%;
        }
        img {
            flex-basis: 50%;
        }
    }
}

.goals-block {
    padding: 10px 40px 0 40px;
    background-color: lighten( $purple, 67%);
    height: 338px;
    h3 {
        color: $purple;
        text-align: right;
        font-weight: 400;
        margin-top: 10px;
    }
    h4 {
        font-weight: 300;
        margin-top: 0;
    }
    .goals-content {
        display: flex;
        flex-direction: row;
        figure {
            margin: 0;
        }
        .goals-text {
            padding-right: 20px; 
            flex-basis: 50%;
            font-weight: 300;
        }
        p {
            margin-bottom: 10px;
        }
        img {
            flex-basis: 50%;
        }
    }
}

.services-block {
    padding: 10px 40px 0 40px;
    background-color: lighten( $sky-blue, 50%);
    height: 403px;
    h3 {
        color: $sky-blue;
        text-align: left;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .services-content {
        display: flex;
        flex-direction: row;
        .services-images {
            flex-basis: 50%;
        }
        .services-text {
            padding-left: 10px;
            font-weight: 300;
            text-align: left;
            flex-basis: 50%;
            line-height: 13px;
            p {
                margin-bottom: 0;
            }
        }
    }
}

.partners-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 300px;
    margin: 0 auto;
    justify-items: center;

    .wp-image-101 {
        margin-left: -40px;
        
    }
    .wp-image-103 {
        margin-left: 20px;
    }
}