.about-content {
    font-size: $body-fsize-mobile;  
    font-family: $body-ffamily; 
    color: $black;
    h2 {
        font-size: $h2-fsize-mobile;
        font-family: $h-ffamily;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
        @include desktop {
            font-size: $h2-fsize-desktop;
            margin-bottom: 20px;
        }
    }
    h3 {
        font-size: 1.42rem;
        font-family: $h-ffamily;
        font-weight: 400;
        @include desktop {
            font-size: $h3-fsize-desktop;
        }
    }
}

.cfs-description {
    font-size: $h3-fsize-mobile;
    text-align: center;
    font-family: $h-ffamily;
    @include desktop {
        font-size: $h3-fsize-desktop;
        margin-top: 0;
    }
}

.members-container {
    
    div:nth-child(6) {
        height: 340px;
     }
    @include desktop {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px 100px;
        grid-row-gap: 10px;
        grid-column-gap: 30px;
        justify-content: center;
        justify-items: center;
        align-items: start;
        margin: 0;
        padding-top: 100px;
        max-width: 100%;
        div:nth-child(6) {
            height: 520px;
         }
    }
}
.desktop-member {
    @include desktop {
    background-color: $sky-blue;
    display: none;
    width: 450px;
    height: 520px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    
    
    .cfs-photo {
        width: 155px;
        height: 250px;
        border-radius: 20px;
        margin-top: 40px;
        object-fit: cover;
    }
    .fa-times {
        position: absolute;
        top: 10px;
        right: 20px;
        display: block;
        font-size: 1.42rem;
        cursor: pointer;
    }
    .cfs-name {
        font-size: 1.71rem;
        text-align: center;
    }
    .cfs-role {
        display: none;
    }
    .cfs-quote {
        font-size: 1.3rem;
        font-style: italic;
        font-weight: 300; 
        text-align: left;
        padding: 0 30px;
    }
    }
}    

  

.cfs-member {
    display: none;
    // display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 50px;
    height: 270px;
    justify-content: center;
    @include desktop {
      .fa-times {
            display: none;
            position: absolute;
            top: 10px;
            right: 20px;
            display: block;
            font-size: 1.42rem;
        }
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
        height: 586px;
        width: 257px;
        justify-content: start;
        position: relative;
    }
    .cfs-photo {
        width: 146px;
        object-fit: cover;
        border-radius: 0%;
        @include desktop {
            width: 257px;
            height: 421px;
            border-radius: 20px;
            cursor: pointer;
        }
    }
    .cfs-info {
        width: 156px;
        background-color: $sky-blue;
        text-align: left;
        padding: 10px 15px 10px 15px;
        @include desktop {
            background-color: transparent;
            width: 257px;
            padding: 0;
            position: absolute;
            top: 380px;
        }
        .cfs-name {
            margin: 0;
            font-weight: 400;
            font-size: $h3-fsize-mobile;
            font-family: $h-ffamily;
            @include desktop {
                background-color:  $sky-blue;
                font-size: 1.78rem;
                border-radius: 20px;
                height: 105px;
                text-align: left;
                padding: 10px 120px 10px 10px;
            }
        }
        .cfs-role {
            margin-top: 10px;
            margin-bottom: 0;
            font-family: $h-ffamily;
            @include desktop {
               font-size: 1.21rem;
               padding: 0 10px;
            }
           
        }
        .cfs-quote {
            font-size: $h3-fsize-mobile;
            font-weight: 300;
            line-height: 1.2rem;
            @include desktop {
                display: none;
            }
        }
    }
}


#loadMore {
  width: 180px;
  color: #707070;
  font-family: $h-ffamily;
  font-size: 1.42rem;
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 50px;
  padding: 15px;
  border: 1px solid #cbcbcb;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  @include desktop {
    display: none;
  }
}
#loadMore:hover {
  border-color: $sky-blue;
}

.history-block {
  padding: 10px 40px 0 40px;
  background-color: lighten($orange, 40%);
  height: 338px;
  @include desktop {
      height: 800px;
      padding: 20px 150px;
  }
  h3 {
    color: $orange;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 300;
    @include desktop {
        padding-left: 50px;
        font-weight: 400;
    }
  }
  .history-content {
    display: flex;
    flex-direction: row;
    @include desktop {
        padding-left: 50px;
    }
    p {
      padding-left: 20px;
      font-weight: 100;
      line-height: 1.4;
      text-align: left;
      flex-basis: 50%;
      @include desktop {
          font-size: 2rem;
          padding-left: 100px;
          font-weight: 100;
          margin-top: 0;
          flex-basis: 70%
      }
    }
    img {
      flex-basis: 50%;
      @include desktop {
      height: 600px;
      width: 500px;
      }
    }
  }
}

.goals-block {
  padding: 10px 40px 0 40px;
  background-color: lighten($purple, 67%);
  height: 338px;
  @include desktop {
      height: 800px;
      padding: 20px 150px;
  }
  h3 {
    color: $purple;
    text-align: right;
    margin-top: 10px;
    font-weight: 300;
    @include desktop {
      font-weight: 400;
    }

  }
  h4 {
    font-weight: 300;
    margin-top: 0;
    @include desktop {
        margin-bottom: 10px;
    }
  }
  .goals-content {
    display: flex;
    flex-direction: row;
    figure {
      margin: 0;
    }
    .goals-text {
      padding-right: 20px;
      flex-basis: 50%;
      font-weight: 100;
      line-height: 1.4;
      @include desktop {
        font-size: 2rem;
        padding-left: 50px;
        padding-right: 180px;
        font-weight: 100;
        margin-top: 0;
        flex-basis: 70%
      }
    }
    p {
      margin-bottom: 10px;
      @include desktop {
        margin-top: 30px;
    }
      
    }
    img {
      flex-basis: 50%;
      width: 180px;
      height: 230px;
      @include desktop {
          height: 600px;
          width: 600px;
      }
    }
  }
}

.services-block {
  padding: 10px 35px 0 40px;
  background-color: lighten($sky-blue, 50%);
  height: 420px;
  @include desktop {
    height: 1080px;
    padding: 20px 150px;
  }

  h3 {
    color: $sky-blue;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 300;
    @include desktop {
        padding-left: 50px;
        font-weight: 400;
    }
  }
  .services-content {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    @include desktop {
        padding-left: 50px;
    }
    .services-images {
      flex-basis: 50%;
      figure {
        margin-bottom: 5px;
        margin-top: 15px;
      }
      
      img {
        @include desktop {
            height: 450px;
            width: 500px;
            padding-bottom: 20px;
        }
      }
     
    }
    .services-text {
      padding-left: 10px;
      font-weight: 100;
      text-align: left;
      flex-basis: 50%;
      line-height: 1.2;
      @include desktop {
        font-size: 2rem;
        padding-left: 100px;
        line-height: 1.4;
        font-weight: 100;
        margin-top: 0;
        flex-basis: 70%
      }
      p {
        margin-bottom: 0;
        width: 149px;
        @include desktop {
            width: 500px;
            margin-top: 0;
            padding-bottom: 30px;
            margin-right: 0 ;
        }
      }
    }
  }
}
.partners-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 36px;
  width: 80%;
  margin: 0 auto;
  padding: 0 30px;
  align-items: center;
  @include desktop {
    width: 100%;
    justify-items: center;
  }

  figure:nth-of-type(3) {
      margin-left: 5px;
  }

  figure:nth-of-type(5) {
    margin-left: -20px;
  }

}
