.content-area-donation {
  width: 450px;
  margin: 0 auto;
  .site-main {
    h1 {
      font-family: $h-ffamily;
      font-size: $h1-fsize-mobile;
      font-weight: 500;
      text-align: center;
    }
    .content {
      text-align: justify;
      margin-bottom: 50px;
      h3 {
        font-family: $h-ffamily;
        font-size: $h3-fsize-mobile;
        font-weight: 500;
      }
      p {
        font-family: $body-ffamily;
        font-size: $body-fsize-mobile;
      }
    }
    .donation-links {
      display: flex;
      flex-direction: column;
      .img-donation {
        background-color: $purple;
        height: 213px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 17px;
        margin-bottom: 73px;
        img {
          width: 95px;
          margin-top: 30px;
        }
        p {
          margin-top: 30px;
          margin-bottom: 20px;
          color: white;
          font-family: $body-ffamily;
          font-size: $body-fsize-mobile;
        }
      }
      .img-volunteer {
        background-color: $orange;
        height: 213px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 17px;
        img {
          width: 85px;
          margin-top: 30px;
        }
        p {
          margin-top: 30px;
          margin-bottom: 20px;
          color: white;
          font-family: $body-ffamily;
          font-size: $body-fsize-mobile;
        }
      }
    }
  }
}
