.search-header {
	position: relative;
	height: 92px;
	@include desktop {
		height: 100vh;
	}
}

.search-main {
    padding: 50px 15px;
}

// Search form
.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search-input {
        width: 60%;
        color: $black;
        font-family: 'Poppins';
        font-size: $mobile-button;
        border: none;
    }
}

.search-numbers {
    font-family: $h-ffamily;
    background-color: #EAEAEA;
    padding: 5px 10px;
}

.search-section-title {
    font-family: $h-ffamily;
    font-weight: 600;
}

.search-title {
    a {
        font-family: $h-ffamily;
        text-decoration: none;
        color: #1C2FC6;
        font-weight: 600;
    }
}

.search-summary {
    p {
        font-family: $h-ffamily;
        font-weight: lighter;
    }
}

#clear-search {
    color: $grey;
    font-weight: 100;
    cursor: pointer;
}

.search-submit {
    background: transparent;
    border: 0.5px solid #707070;
    font-family: 'Poppins';
    padding: 5px 20px;
}