.pum-theme-default-theme {
    background: rgba(0, 0, 0, 0.5) !important;
}

.pum-container {
    position: relative !important;
    height: auto !important;
}

.gform_wrapper {
    form {
        display: flex !important;
        flex-direction: column-reverse !important;
        padding: 30px 0 !important;
        .gform_heading {
            display: none !important;
        }
    }
}

.gfield {
    display: flex !important;
    flex-direction: column-reverse !important;
    font-family: $h-ffamily !important;
    font-weight: lighter;
    color: $black;
    font-size: 13px;
    line-height: 1.5;
    img {
        padding-bottom: 30px;
    }
}

.gform_wrapper .gf_progressbar_wrapper {
    margin: 0 !important;
    padding: 0 !important;
}

.gform_title {
    display: none !important;
}

.pum-close {
    top: 0 !important;
    right: 0 !important;
    background-color: transparent !important;
    color: $black !important;
}