.pum-theme-default-theme {
    background: rgba(0, 0, 0, 0.5) !important;
}

.gform_body {
    background-color: $white;
    padding: 30px 20px 10px 20px;
    @include resp-form {
        height: 100% !important;
        padding: 30px 100px 10px 100px !important;
    }
}

.gform_page {
    @include resp-form {
        padding: 0 20px;
    }
}

.pum-content {
    @include resp-form {
        height: 100% !important;
    }
}

.pum-container {
    position: relative !important;
    height: auto !important;
    padding: 0 !important;
    @include resp-form {
        width: 90% !important;
    }
}

.gform_wrapper {
    @include resp-form {
        height: 100% !important;
    }
    form {
        display: flex !important;
        flex-direction: column-reverse !important;
        @include resp-form {
            height: 100% !important;
        }
        .gform_heading {
            display: none !important;
        }
    }
}

#field_1_2 {
    flex-direction: column-reverse !important;
    @include resp-form {
        flex-direction: row !important;
    }
}

.gfield {
    display: flex !important;
    flex-direction: column !important;
    font-family: $h-ffamily !important;
    font-weight: lighter;
    color: $black;
    font-size: 0.92rem;
    line-height: 1.5;
    @include resp-form {
        align-items: center;
        font-size: 2rem;
        line-height: 1.5 !important;
        font-family: $body-ffamily !important;
        font-weight: 200 !important;
    }
    img {
        padding-bottom: 30px;
        @include resp-form {
            width: 300px !important;
            height: 300px !important;
            margin: 10px 25px 10px 100px !important;
        }
    }
    .gfield_label {
        font-weight: lighter !important;
        font-size: 1.07rem !important;
        @include resp-form {
            font-family: $h-ffamily;
            font-weight: lighter !important;
            font-size: 2rem !important;
        }
        .gfield_required {
            color: $black;
        }
    }
    table {
        background-color: $white;
        tr {
            line-height: 2;
            background-color: $white !important;
            font {
                font-family: $body-ffamily !important;
                font-size: 1.07rem !important;
                font-weight: 200;
                @include resp-form {
                    font-size: 1.85rem !important;
                }
            }
        }
        strong {
            font-family: $h-ffamily;
            font-size: 1.07rem;
            font-weight: 500;
            @include resp-form {
                font-size: 2rem;
            }
        }
    }
}

tbody {

    :nth-child(5) {
        display: none !important;
    }
    :nth-child(6) {
        display: none !important;
    }
    :nth-child(7) {
        display: none !important;
    }
    :nth-child(8) {
        display: none !important;
    }
}

.gform_fields {
    display: flex !important;
    flex-direction: column !important;
    .joinus-name {
        order: 1 !important;
        @include resp-form {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            align-items: flex-start;
            justify-content: center;
        }
    }
    .joinus-email {
        order: 2 !important;
        @include resp-form {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            align-items: flex-start;
            justify-content: center;
        }
    }
    .joinus-iam {
        order: 4 !important;
        @include resp-form {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            align-items: flex-start;
            justify-content: center;
        }
    }
    .joinus-interested {
        order: 5 !important;
        @include resp-form {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
            align-items: flex-start;
            justify-content: center;
        }
    }
    .joinus-phone {
        order: 3 !important;
        @include resp-form {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            align-items: flex-start;
            justify-content: center;
        }
    }
    .joinus-other {
        order: 6 !important;
        @include resp-form {
            grid-column: 2 / 3;
            grid-row: 2 / 4;
            align-items: flex-start;
            justify-content: center;
        }
    }
}

#gform_fields_1_2 {
    @include resp-form {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

.ginput_container {
    @include resp-form {
        width: 100%;
    }
    input, select {
        font-family: $body-ffamily !important;
        @include resp-form {
            width: 100% !important;
            font-size: 26px !important;
        }
    }
    select {
        option {
            @include resp-form {
                font-family: $body-ffamily !important;
                color: $grey;
            }
        }
    }
}

#input_1_4_3_container {
    label {
        display: none !important;
    }
}

.gform_wrapper .gf_progressbar_wrapper {
    margin: 0 !important;
    padding: 0 !important;
}

.gform_title {
    display: none !important;
}

.gf_page_steps {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    border: 0 !important;
    background-color: #D7D1D5;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 30px;
    font-family: $body-ffamily;
    @include resp-form {
        font-family: $h-ffamily;
        height: 70px !important;
        font-weight: lighter;
    }
    .gf_step_active {
        color: $orange;
        height: 100% !important;
        text-align: center;
        .gf_step_number {
            background-color: $orange;
            color: $white;
            border: 0.5px solid $orange;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            font-size: 0.85rem !important;
            @include resp-form {
                width: 30px !important;
                display: inline !important;
                font-size: $desktop-button - 0.71rem !important;
                padding: 2px 14px !important;
                font-family: $h-ffamily !important;
            }
        }
        .gf_step_label {
            text-decoration: underline;
            @include resp-form {
                font-size: $desktop-button - 0.71rem;
            }
        }
    }
    .gf_step {
        margin: 0 auto !important;
        width: auto !important;
        height: auto !important;
        text-align: center;
        @include resp-form {
            font-size: $desktop-button - 0.71rem !important;
        }
    }
    .gf_step_pending {
        .gf_step_number {
            width: 15px;
            height: 15px;
            border: 0.5px solid $grey;
            border-radius: 50%;
            font-size: 0.85rem !important;
            @include resp-form {
                width: 30px !important;
                display: inline !important;
                font-size: $desktop-button - 0.71rem !important;
                padding: 2px 14px !important;
                font-family: $h-ffamily !important;
            }
        }
    }
}

#gform_previous_button_1_3 {
    display: none;
}

#gform_page_1_3 {
    .gform_page_footer {
        @include resp-form {
            padding: 10px 0 30px !important;
        }
    }
}

#gform_previous_button_1 {
    background-color: $blue;
    margin: 0 !important;
    padding: 0 !important;
}

#gform_submit_button_1 {
    background-color: $blue;
    border: none;
    color: $white;
    margin: 0 !important;
    padding: 0 !important;
    height: 40px;
    width: 90px !important;
    border-radius: 10px;
    position: absolute;
    right: 0;
    @include resp-form {
        width: 250px !important;
        height: 70px;
        font-size: $desktop-button !important;
        font-weight: lighter;
        &:hover {
            opacity: 0.2;
          }
    }
}

.gform_next_button {
    @include desktop {
        border-radius: 20px;
        height: 70px;
        font-size: 1.8rem;
        width: 250px;
    }
}

.gform_page_footer {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    input[type="button"] {
        margin: 30px 0 !important;
        background-color: $orange;
        color: $white;
        border-radius: 10px;
        height: 40px;
        width: 90px !important;
        font-family: $body-ffamily;
        font-size: $mobile-started-btn;
        text-shadow: none;
        border: none;
        box-shadow: 0 0;
        filter: blur(6);
        padding: 0 !important;
        line-height: 0 !important;
        @include resp-form {
            font-family: $h-ffamily;
            font-weight: lighter;
            font-size: $desktop-button !important;
            border-radius: 20px;
            height: 70px;
            font-size: 1.78rem;
            width: 250px !important;
            &:hover {
              opacity: 0.2;
            }
          }
    }
}

#gform_page_1_2 {
    .gform_page_footer {
        text-align: right !important;
        input {
            background-color: $blue !important;
        }
    }
}

.pum-close {
    top: 0 !important;
    right: 0 !important;
    background-color: transparent !important;
    color: $black !important;
    width: 50px !important;
    font-size: 1.28rem !important;
}

// Confirmation form

#gform_confirmation_wrapper_1 {
    background-color: $white !important;
    height: 350px !important;
    @include resp-form {
        height: 600px !important;
    }
}

#gform_confirmation_message_1 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100% !important;
    font-family: $h-ffamily !important;
    font-size: 1.42rem !important;
    color: $black !important;
    @include resp-form {
        font-size: 2.28rem !important;
        font-weight: lighter;
    }
    img {
        width: 150px;
        height: 150px;
        @include resp-form {
            width: 250px;
            height: 250px;
        }
    }
}