.single-main {
    padding: 0 15px;
    @include desktop {
        padding: 0 100px;
    }
}

.single-header {
    position: relative;
	height: 260px;
	@include desktop {
		height: 100vh;
	}
}

.single-navigation {
	clear: both;
    display: block;
    height: 92px;
    background: linear-gradient(to bottom, rgba(000,000,000,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    @include desktop {
        height: 240px;
    }
    ul {
		display: none;
		list-style: none;
    }
}

.header-blog {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.text-header-blog {
    position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: $white;
	font-family: 'Poppins';
	font-weight: lighter;
	font-size: 2.85rem;
	text-transform: uppercase;
	@include desktop {
		font-size: $h1-fsize-desktop;
		font-weight: lighter;
		text-transform: capitalize;
	}
}

.singleblog-header {
    @include desktop {
        padding-top: 50px;
    }
    .singleblog-date {
        display: none;
        @include desktop {
            display: initial;
            color: $purple;
            font-family: 'Poppins';
            font-style: italic;
            font-size: 1.14rem;
        }
    }
    .singleblog-title {
        font-family: 'Helvetica Neue';
        font-size: 1.42rem;
        color: #707070;
        @include desktop {
            font-family: 'Poppins';
            font-weight: initial;
            font-size: $h3-fsize-desktop - 0.35rem;
            color: $black;
            margin: 0;
        }
    }
    .singleblog-entry-meta {
        font-family: 'Poppins';
        font-size: 0.85rem;
        font-weight: 600;
        width: 160px;
        display: flex;
        align-items: center;
        @include desktop {
            padding: 10px 0 15px 0;
            width: auto;
        }
        .avatar-mobile {
            .avatar {
                border-radius: 50%;
            }
            @include desktop {
                display: none;
            }
        }
        .avatar-desktop {
            display: none;
            .avatar {
                border-radius: 50%
            }
            @include desktop {
                border-radius: 50%;
                display: initial;
            }
        }
        .byline {
            padding: 0 15px;
            * {
                @include desktop {
                    font-size: $h3-fsize-mobile;
                }
            }
        }
    }
}

.singlepost-entry-content {
    font-family: 'Helvetica Neue';
    font-weight: 300;
    font-size: 1.14rem;
    color: #707070;
    @include desktop {
        font-size: 1.57rem;
        line-height: 32px;
    }
}

.comments-title {
    font-family: 'Poppins';
    font-size: 1.42rem;
    border-top: 1px solid $grey;
    padding-top: 15px;
    @include desktop {
        font-size: 1.85rem;
    }
}

.comment-list {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $grey;
}

.comment-content {
    p {
        font-family: 'Helvetica Neue';
        font-weight: lighter;
        font-size: 1.14rem; 
        line-height: 23px;
        margin: 0;
        @include desktop {
            font-size: 1.37rem;
            line-height: 32px;
        }
    }
}

.comment-meta {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 5px 0 20px 0;
    color: $purple;
    font-family: 'Poppins';
    font-style: italic;
    font-size: 0.71rem;
    @include desktop {
        font-size: 1.14rem;
    }
    .comment-author {
        padding: 0 15px;
    }
}

.comment-notes {
    display: none;
}

.comment-respond {
    font-family: 'Poppins';
    padding-top: 10px;
    .comment-reply-title {
        font-size: $h3-fsize-mobile + 0.35rem;
        @include desktop {
            font-size: 1.85rem;
        }
    }
    .comment-form {
        label {
            font-size: $h3-fsize-mobile;
            font-weight: bold;
            @include desktop {
                font-size: $h3-fsize-mobile + 0.35rem;
            }
        }
        input[type="text"], input[type="email"],textarea {
            background-color: #F7F7F7;
            border: 1px solid #B9B9B9;
        }
    }
}

.comment-form-comment {
    textarea {
        margin-top: 10px;
    }
}

.comment-form-author {
    display: flex;
    flex-direction: column;
    input[type="text"] {
        margin-top: 10px;
    }
}

.comment-form-email {
    display: flex;
    flex-direction: column;
    input[type="email"] {
        margin-top: 10px;
    }
}

.form-submit {
    input[type="submit"] {
        border-radius: 10px;
        font-family: 'Poppins';
        font-size: $mobile-button;
        color: $white;
        background-color: $orange;
        border: none;
        -webkit-box-shadow: 0px 0px 5px -2px rgba(112,112,112,1);
        -moz-box-shadow: 0px 0px 5px -2px rgba(112,112,112,1);
        box-shadow: 0px 0px 5px -2px rgba(112,112,112,1);
        text-shadow: none;
        filter: blur(6);
        height: 60px;
        text-transform: uppercase;
        @include desktop {
            border-radius: 20px;
        }
    }
}

.posts-links {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    width: 100%;
    @include desktop {
        width: 50%;
        margin: 0 auto;
        padding: 80px 0 50px 0;
    }
    * {
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 1.42rem;
        text-decoration: none;
        color: $blue;
    }
}

.go-back-btn {
    padding-top: 15px;
    @include desktop {
        display: none;
    }
    a {
        font-family: 'Poppins';
        font-weight: bold;
        font-size: $mobile-started-btn;
        text-decoration: none;
        color: $grey;
    }
}