.single-main {
    padding: 0 15px;
}

.single-header {
    position: relative;
    height: 165px;
}

.single-navigation {
	clear: both;
    display: block;
    height: 92px;
    background: linear-gradient(to bottom, rgba(000,000,000,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    ul {
		display: none;
		list-style: none;
    }
}

.header-blog {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.singleblog-header {
    .singleblog-title {
        font-family: 'Helvetica Neue';
        font-size: 20px;
        color: #707070;
    }
    .singleblog-entry-meta {
        font-family: 'Poppins';
        font-size: 12px;
        font-weight: 600;
        width: 160px;
        display: flex;
        align-items: center;
        .avatar {
            border-radius: 50%;
        }
        .byline {
            padding: 0 15px;
        }
    }
}

.singlepost-entry-content {
    font-family: 'Helvetica Neue';
    font-weight: 300;
    font-size: 16px;
    color: #707070;
}

.comments-title {
    font-family: 'Poppins';
    font-size: 20px;
    border-top: 1px solid $grey;
    padding-top: 15px;
}

.comment-list {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $grey;
}

.comment-content {
    p {
        font-family: 'Helvetica Neue';
        font-weight: lighter;
        font-size: 16px; 
        line-height: 23px;
        margin: 0;
    }
}

.comment-meta {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 5px 0 20px 0;
    color: $purple;
    font-family: 'Poppins';
    font-style: italic;
    font-size: 10px;
    .comment-author {
        padding: 0 15px;
    }
}