// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// UX Colors

$orange: #e38639;
$light-orange: #eeb688;
$clear: #fcf3eb;
$purple: #62284e;
$light-purple: #efe9ed;
$sky-blue: #2597bd;
$blue: #1cb2ce;
$clear-blue: #e8f4f8;
$black: #000000;
$grey: #848484;
$white: #fff;

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// UX Fonts

$h-ffamily: Poppins, Helvetica Neue, sans-serif;
$body-ffamily: Helvetica Neue, sans-serif;
$h1-fsize-desktop: 100px;
$h2-fsize-desktop: 80px;
$h3-fsize-desktop: 40px;
$h1-fsize-mobile: 40px;
$h2-fsize-mobile: 30px;
$h3-fsize-mobile: 15px;
$body-fsize-desktop: 40px;
$body-fsize-mobile: 10px;
$mobile-button: 24px;
$mobile-blbtn: 13px;
$desktop-button: 32px;
$mobile-started-btn: 17px;

// Breakpoints

$desktop-width: 850px;
