.content-area-news {
  .site-main {
    .news-container {
      margin-top: 50px;
      display: flex;
      .news-card {
        width: 450px;
        margin: 0 auto;
        @include desktop {
          display: flex;
          flex-wrap: wrap;
        }
        .cfs-news {
          display: flex;
          flex-direction: column;
          margin-bottom: 50px;
          border: 1px solid black;
          border-radius: 4%;
          box-shadow: 5px 5px #888888;
          img {
            @include desktop {
              height: 350px;
            }
          }
          .cfs-title-news {
            margin-top: 5px;
            font-size: 24px;
            color: $black;
            font-family: $h-ffamily;
            margin-bottom: 0;
            margin-left: 20px;
            margin-right: 40px;
          }
          .cfs-date-news {
            font-size: 16px;
            color: black;
            font-family: $h-ffamily;
            margin-left: 20px;
          }
          .cfs-url-news {
            margin-left: 15px;
            a {
              text-decoration: none;
              color: $sky-blue;
            }
          }
          .cfs-source-news {
            font-size: 15px;
            margin-bottom: 0;
            font-family: $h-ffamily;
            color: $purple;
            margin-left: 25px;
          }
        }
      }
    }
  }
}
